@using myhealthhub.web.Services.Graph

<!-- Patient lookup -->
<fieldset id="fsPatient" class="fieldset" style="margin-bottom: 20px;">
    <legend class="legend">Patient lookup</legend>
    <p>
        <i class="fa-solid fa-circle-info"></i> 
        To start, type in the internal patient's code and then hit "Search". If there is no match in the system, you should report it to your provider.
    </p>
    <div class="row row-cols-lg-auto g-3 align-items-center">
        <div class="form-group">
            <input type="text" class="form-control" id="txtPatientInternalId" name="txtPatientInternalId" placeholder="Enter patient code">
        </div>
        <button type="button" class="btn btn-primary" id="btnSearchUser" name="btnSearchUser">
            <i class="fa-solid fa-magnifying-glass"></i> 
            Search
        </button>
        &nbsp;
        <button type="button" class="btn btn-success" id="btnStartOver" name="btnStartOver">
            <i class="fa-solid fa-arrows-rotate"></i>
            Start over
        </button>
    </div>
    <span class="error-response" id="errorResponseLabel"></span>        
</fieldset>

<!-- Studies Visits and Forms Per Physician -->
<input type="hidden" value="@User.GetUserGraphEmail()" id="txtUserEmail" name="txtUserEmail" />
<fieldset id="fsStudies" class="fieldset" style="margin-bottom: 20px;">
    <legend class="legend">Studies</legend>
    <p>
        <i class="fa-solid fa-circle-info"></i> 
        Next, select the study for which you'd like to see Visit Types and Forms.
    </p>
    <div class="row row-cols-lg-auto g-3 align-items-center">
        <div class="form-group">
            <select class="form-select" id="slStudies" name="slStudies">
                <option selected>-- STUDIES --</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-select" id="slVisits" name="slVisits">
            </select>
        </div>
        @* <div class="form-group">
            <select class="form-select" id="slForms" name="slForms">
                <option selected>-- FORMS --</option>
            </select>
        </div> *@
        <button type="button" class="btn btn-success" id="btnListForms" name="btnListForms">
            <i class="fa-solid fa-play"></i>
            List forms
        </button>
    </div>
</fieldset>

<!-- Dynamic forms list -->
<fieldset class="fieldset" id="fsFormsTable" name="fsFormsTable">
    <legend class="legend">Forms available</legend>
    <p>
        <i class="fa-solid fa-circle-info"></i>
        Below you can see the forms available based on previou selection.
    </p>
    <table class="table" id="tbFormsList" name="tbFormsList">
        <thead>
            <tr>
                <th scope="col">Form name</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>            
        </tbody>
    </table>
</fieldset>